Repository prgrms-be-devcourse/NBE4-5-2-Team10, pull requests merged in 2025-03, with the labels that each got.

#13 feat(3): 후기 게시판 entity 설정
  backend/src/main/java/com/tripfriend/domain/review/entity/Comment.java
  backend/src/main/java/com/tripfriend/domain/review/entity/Review.java
Labels: ✨ feat

#22 Feat - Place, TripSchedule, TripInformation 생성
  backend/src/main/java/com/tripfriend/domain/place/place/controller/PlaceController.java
  backend/src/main/java/com/tripfriend/domain/place/place/entity/Category.java
  backend/src/main/java/com/tripfriend/domain/place/place/entity/Place.java
  backend/src/main/java/com/tripfriend/domain/place/place/repository/PlaceRepository.java
  backend/src/main/java/com/tripfriend/domain/place/place/service/PlaceService.java
  backend/src/main/java/com/tripfriend/domain/trip/information/controller/TripInformationController.java
  backend/src/main/java/com/tripfriend/domain/trip/information/entity/TripInformation.java
  backend/src/main/java/com/tripfriend/domain/trip/information/entity/TripInformationId.java
  backend/src/main/java/com/tripfriend/domain/trip/information/repository/TripInformationRepository.java
  backend/src/main/java/com/tripfriend/domain/trip/information/service/TripInformationService.java
  backend/src/main/java/com/tripfriend/domain/trip/schedule/controller/ScheduleController.java
  backend/src/main/java/com/tripfriend/domain/trip/schedule/entity/TripSchedule.java
  backend/src/main/java/com/tripfriend/domain/trip/schedule/repository/ScheduleRepository.java
  backend/src/main/java/com/tripfriend/domain/trip/schedule/service/ScheduleService.java
Labels: 🔥backend, ✨ feat

#25 Develop->main
  backend/build.gradle
  backend/db_dev.mv.db
  backend/gradlew
  backend/src/main/java/com/tripfriend/TravelPlanApplication.java
  backend/src/main/java/com/tripfriend/domain/member/member/controller/MemberController.java
  backend/src/main/java/com/tripfriend/domain/member/member/dto/JoinRequestDto.java
  backend/src/main/java/com/tripfriend/domain/member/member/dto/LoginRequestDto.java
  backend/src/main/java/com/tripfriend/domain/member/member/dto/MemberResponseDto.java
  backend/src/main/java/com/tripfriend/domain/member/member/dto/MemberUpdateRequestDto.java
  backend/src/main/java/com/tripfriend/domain/member/member/entity/AgeRange.java
  backend/src/main/java/com/tripfriend/domain/member/member/entity/Gender.java
  backend/src/main/java/com/tripfriend/domain/member/member/entity/Member.java
  backend/src/main/java/com/tripfriend/domain/member/member/entity/TravelStyle.java
  backend/src/main/java/com/tripfriend/domain/member/member/repository/MemberRepository.java
  backend/src/main/java/com/tripfriend/domain/member/member/service/MemberService.java
  backend/src/main/java/com/tripfriend/domain/notice/Notice.java
  backend/src/main/java/com/tripfriend/domain/place/place/controller/PlaceController.java
  backend/src/main/java/com/tripfriend/domain/place/place/entity/Category.java
  backend/src/main/java/com/tripfriend/domain/place/place/entity/Place.java
  backend/src/main/java/com/tripfriend/domain/place/place/repository/PlaceRepository.java
  backend/src/main/java/com/tripfriend/domain/place/place/service/PlaceService.java
  backend/src/main/java/com/tripfriend/domain/recruit/apply/entity/Apply.java
  backend/src/main/java/com/tripfriend/domain/recruit/recruit/entity/Recruit.java
  backend/src/main/java/com/tripfriend/domain/recruit/recruit/entity/TravelStyle.java
  backend/src/main/java/com/tripfriend/domain/review/entity/Comment.java
  backend/src/main/java/com/tripfriend/domain/review/entity/Review.java
  backend/src/main/java/com/tripfriend/domain/trip/information/controller/TripInformationController.java
  backend/src/main/java/com/tripfriend/domain/trip/information/entity/TripInformation.java
  backend/src/main/java/com/tripfriend/domain/trip/information/entity/TripInformationId.java
  backend/src/main/java/com/tripfriend/domain/trip/information/repository/TripInformationRepository.java
  backend/src/main/java/com/tripfriend/domain/trip/information/service/TripInformationService.java
  backend/src/main/java/com/tripfriend/domain/trip/schedule/controller/ScheduleController.java
  backend/src/main/java/com/tripfriend/domain/trip/schedule/entity/TripSchedule.java
  backend/src/main/java/com/tripfriend/domain/trip/schedule/repository/ScheduleRepository.java
  backend/src/main/java/com/tripfriend/domain/trip/schedule/service/ScheduleService.java
  backend/src/main/java/com/tripfriend/global/config/SecurityConfig.java
  backend/src/main/java/com/tripfriend/global/entity/BaseEntity.java
Labels: 🚀 deployment

#27 여행지 CRUD 구현
  backend/src/main/java/com/tripfriend/domain/place/place/controller/PlaceController.java
  backend/src/main/java/com/tripfriend/domain/place/place/dto/PlaceCreateReqDto.java
  backend/src/main/java/com/tripfriend/domain/place/place/dto/PlaceResDto.java
  backend/src/main/java/com/tripfriend/domain/place/place/dto/PlaceUpdateReqDto.java
  backend/src/main/java/com/tripfriend/domain/place/place/entity/Place.java
  backend/src/main/java/com/tripfriend/domain/place/place/service/PlaceService.java
  backend/src/main/java/com/tripfriend/domain/trip/schedule/entity/TripSchedule.java
Labels: 🔥backend, ✨ feat

#29 [CHORE] ResponseData와 예외 메세지 통일 기능
  backend/src/main/java/com/tripfriend/global/dto/RsData.java
  backend/src/main/java/com/tripfriend/global/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/tripfriend/global/exception/ServiceException.java
Labels: 🔧 chore

#36 ✨ Feat: 여행지 리뷰, 댓글 CRUD 기능 구현
  backend/src/main/java/com/tripfriend/domain/review/controller/CommentController.java
  backend/src/main/java/com/tripfriend/domain/review/controller/ReviewController.java
  backend/src/main/java/com/tripfriend/domain/review/dto/CommentRequestDto.java
  backend/src/main/java/com/tripfriend/domain/review/dto/CommentResponseDto.java
  backend/src/main/java/com/tripfriend/domain/review/dto/ReviewRequestDto.java
  backend/src/main/java/com/tripfriend/domain/review/dto/ReviewResponseDto.java
  backend/src/main/java/com/tripfriend/domain/review/repository/CommentRepository.java
  backend/src/main/java/com/tripfriend/domain/review/repository/ReviewRepository.java
  backend/src/main/java/com/tripfriend/domain/review/service/CommentService.java
  backend/src/main/java/com/tripfriend/domain/review/service/ReviewService.java
Labels: ✨ feat

#39 feat(35): question 기능 구현
  backend/src/main/java/com/tripfriend/domain/qna/controller/QuestionController.java
  backend/src/main/java/com/tripfriend/domain/qna/dto/QuestionDto.java
  backend/src/main/java/com/tripfriend/domain/qna/entity/Answer.java
  backend/src/main/java/com/tripfriend/domain/qna/entity/Question.java
  backend/src/main/java/com/tripfriend/domain/qna/repository/AnswerRepository.java
  backend/src/main/java/com/tripfriend/domain/qna/repository/QuestionRepository.java
  backend/src/main/java/com/tripfriend/domain/qna/service/QuestionService.java
Labels: 🔥backend, ✨ feat

#49 refactor(#48): BaseInit 데이터 수정
  backend/src/main/java/com/tripfriend/global/BaseInitData.java
  backend/src/main/java/com/tripfriend/global/init/BaseInitData.java
Labels: 🔧 chore, ♻️ refactor

#50 feat(38): 리뷰 목록 조회 기능 구현
  backend/src/main/java/com/tripfriend/domain/review/controller/ReviewController.java
  backend/src/main/java/com/tripfriend/domain/review/dto/ReviewRequestDto.java
  backend/src/main/java/com/tripfriend/domain/review/dto/ReviewResponseDto.java
  backend/src/main/java/com/tripfriend/domain/review/entity/Review.java
  backend/src/main/java/com/tripfriend/domain/review/repository/ReviewRepository.java
  backend/src/main/java/com/tripfriend/domain/review/service/ReviewService.java
Labels: 🔥backend, ✨ feat

#52 feat(40): anser 생성 삭제
  backend/src/main/java/com/tripfriend/domain/qna/controller/AnswerController.java
  backend/src/main/java/com/tripfriend/domain/qna/entity/Answer.java
  backend/src/main/java/com/tripfriend/domain/qna/entity/Question.java
  backend/src/main/java/com/tripfriend/domain/qna/service/AnswerService.java
Labels: 🔥backend, ✨ feat

#55 feat(53): BaseInitData 추가 - 리뷰, 리뷰댓글
  backend/src/main/java/com/tripfriend/global/init/BaseInitData.java
Labels: 🔧 chore

#58 refact(#51) : 여행 일정 세부 일정 등록 방법 수정
  backend/src/main/java/com/tripfriend/domain/trip/information/controller/TripInformationController.java
  backend/src/main/java/com/tripfriend/domain/trip/information/dto/TripInformationUpdateReqDto.java
  backend/src/main/java/com/tripfriend/domain/trip/information/entity/TripInformation.java
  backend/src/main/java/com/tripfriend/domain/trip/information/service/TripInformationService.java
  backend/src/main/java/com/tripfriend/domain/trip/schedule/controller/TripScheduleController.java
  backend/src/main/java/com/tripfriend/domain/trip/schedule/dto/TripScheduleResDto.java
  backend/src/main/java/com/tripfriend/domain/trip/schedule/dto/TripScheduleUpdateReqDto.java
  backend/src/main/java/com/tripfriend/domain/trip/schedule/dto/TripUpdateReqDto.java
  backend/src/main/java/com/tripfriend/domain/trip/schedule/dto/TripUpdateResDto.java
  backend/src/main/java/com/tripfriend/domain/trip/schedule/entity/TripSchedule.java
  backend/src/main/java/com/tripfriend/domain/trip/schedule/service/TripScheduleService.java
Labels: 🔥backend, ✨ feat, ♻️ refactor

#61 feat(54): blacklist 기능 구현
  backend/src/main/java/com/tripfriend/domain/blacklist/controller/BlacklistController.java
  backend/src/main/java/com/tripfriend/domain/blacklist/dto/Dto.java
  backend/src/main/java/com/tripfriend/domain/blacklist/entity/Blacklist.java
  backend/src/main/java/com/tripfriend/domain/blacklist/repository/BlacklistRepository.java
  backend/src/main/java/com/tripfriend/domain/blacklist/service/BlacklistService.java
Labels: 🔥backend, ✨ feat

#69 refactor(67): 리뷰 및 댓글 리팩토링
  backend/src/main/java/com/tripfriend/domain/review/controller/CommentController.java
  backend/src/main/java/com/tripfriend/domain/review/controller/ReviewController.java
  backend/src/main/java/com/tripfriend/domain/review/service/CommentService.java
  backend/src/main/java/com/tripfriend/domain/review/service/ReviewService.java
Labels: 🔥backend, ♻️ refactor

#70 feat(68): 로그인, 회원가입, 마이페이지 프론트엔드 개발
  .DS_Store
  backend/src/main/java/com/tripfriend/global/filter/JwtAuthenticationFilter.java
  backend/src/main/java/com/tripfriend/global/init/BaseInitData.java
  backend/src/main/java/com/tripfriend/global/security/SecurityConfig.java
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/member/login/ClientPage.tsx
  frontend/src/app/member/login/page.tsx
  frontend/src/app/member/my/ClientPage.tsx
  frontend/src/app/member/my/page.tsx
  frontend/src/app/member/signup/ClientPage.tsx
  frontend/src/app/member/signup/page.tsx
  frontend/src/app/page.tsx
  frontend/src/components/Footer.tsx
  frontend/src/components/Header.tsx
Labels: ✨ feat, ☀️ frontend

#71 refact(#66) : 여행지, 여행 일정 리팩토링
  backend/src/main/java/com/tripfriend/domain/place/place/controller/PlaceController.java
  backend/src/main/java/com/tripfriend/domain/place/place/dto/PlaceCreateReqDto.java
  backend/src/main/java/com/tripfriend/domain/place/place/service/PlaceService.java
  backend/src/main/java/com/tripfriend/domain/trip/schedule/controller/TripScheduleController.java
  backend/src/main/java/com/tripfriend/domain/trip/schedule/dto/TripScheduleReqDto.java
  backend/src/main/java/com/tripfriend/domain/trip/schedule/service/TripScheduleService.java
  backend/src/main/java/com/tripfriend/global/aspect/ResponseAspect.java
  backend/src/main/java/com/tripfriend/global/dto/RsData.java
Labels: 🔥backend, ♻️ refactor

#74 feat(60): 리팩토링 & 검색과 정렬 기능 추가 & 로그인한 회원 정보 활용 로직 추가
  backend/.gitignore
  backend/build.gradle
  backend/src/main/java/com/tripfriend/domain/recruit/apply/controller/ApplyController.java
  backend/src/main/java/com/tripfriend/domain/recruit/apply/dto/ApplyCreateRequestDto.java
  backend/src/main/java/com/tripfriend/domain/recruit/apply/dto/ApplyResponseDto.java
  backend/src/main/java/com/tripfriend/domain/recruit/apply/service/ApplyService.java
  backend/src/main/java/com/tripfriend/domain/recruit/recruit/controller/RecruitController.java
  backend/src/main/java/com/tripfriend/domain/recruit/recruit/dto/RecruitCreateRequestDto.java
  backend/src/main/java/com/tripfriend/domain/recruit/recruit/dto/RecruitDetailResponseDto.java
  backend/src/main/java/com/tripfriend/domain/recruit/recruit/dto/RecruitListResponseDto.java
  backend/src/main/java/com/tripfriend/domain/recruit/recruit/dto/RecruitRequestDto.java
  backend/src/main/java/com/tripfriend/domain/recruit/recruit/entity/Recruit.java
  backend/src/main/java/com/tripfriend/domain/recruit/recruit/repository/RecruitRepository.java
  backend/src/main/java/com/tripfriend/domain/recruit/recruit/repository/RecruitRepositoryCustom.java
  backend/src/main/java/com/tripfriend/domain/recruit/recruit/repository/RecruitRepositoryCustomImpl.java
  backend/src/main/java/com/tripfriend/domain/recruit/recruit/service/RecruitService.java
  backend/src/main/java/com/tripfriend/global/config/QueryDslConfig.java
Labels: 🔥backend, ✨ feat

#76 feat(68) : 회원가입, 로그인, 마이페이지 프론트엔드 연동
  backend/src/main/java/com/tripfriend/domain/member/member/controller/MemberController.java
  backend/src/main/java/com/tripfriend/domain/member/member/service/MemberService.java
  backend/src/main/java/com/tripfriend/global/init/BaseInitData.java
  backend/src/main/java/com/tripfriend/global/security/SecurityConfig.java
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/member/email-verify/ClientPage.tsx
  frontend/src/app/member/email-verify/page.tsx
  frontend/src/app/member/login/ClientPage.tsx
  frontend/src/app/member/my/ClientPage.tsx
  frontend/src/app/member/signup/ClientPage.tsx
  frontend/src/components/Footer.tsx
  frontend/src/components/Header.tsx
Labels: ✨ feat, ☀️ frontend

#77 feat(72) : 여행지 목록, 여행지 세부 정보 레이아웃 구현
  backend/build.gradle
  backend/src/main/java/com/tripfriend/domain/place/place/controller/PlaceController.java
  backend/src/main/java/com/tripfriend/domain/place/place/entity/Place.java
  backend/src/main/java/com/tripfriend/domain/place/place/service/PlaceService.java
  frontend/src/app/page.tsx
  frontend/src/app/place/ClientPage.tsx
  frontend/src/app/place/[id]/ClientPage.tsx
  frontend/src/app/place/[id]/page.tsx
  frontend/src/app/place/page.tsx
Labels: ✨ feat, ☀️ frontend

#78 feat(37): 조회수, 인기 게시글 기능 구현
  backend/src/main/java/com/tripfriend/domain/review/controller/CommentController.java
  backend/src/main/java/com/tripfriend/domain/review/controller/ReviewController.java
  backend/src/main/java/com/tripfriend/domain/review/dto/ReviewResponseDto.java
  backend/src/main/java/com/tripfriend/domain/review/entity/ReviewViewCount.java
  backend/src/main/java/com/tripfriend/domain/review/repository/ReviewViewCountRepository.java
  backend/src/main/java/com/tripfriend/domain/review/service/ReviewService.java
Labels: 🔥backend, ✨ feat

#82 feat(80): 관리자 커스텀 어노테이션 구현
  backend/src/main/java/com/tripfriend/global/annotation/CheckPermission.java
  backend/src/main/java/com/tripfriend/global/aspect/CheckPermissionAspect.java
Labels: 🔥backend, ✨ feat

#85 feat(79): 소셜 로그인 기능 구현
  backend/build.gradle
  backend/src/main/java/com/tripfriend/domain/member/member/entity/AgeRange.java
  backend/src/main/java/com/tripfriend/domain/member/member/entity/Gender.java
  backend/src/main/java/com/tripfriend/domain/member/member/entity/Member.java
  backend/src/main/java/com/tripfriend/domain/member/member/entity/TravelStyle.java
  backend/src/main/java/com/tripfriend/global/handler/OAuth2AuthenticationSuccessHandler.java
  backend/src/main/java/com/tripfriend/global/oauth/GoogleUserInfo.java
  backend/src/main/java/com/tripfriend/global/oauth/KakaoUserInfo.java
  backend/src/main/java/com/tripfriend/global/oauth/NaverUserInfo.java
  backend/src/main/java/com/tripfriend/global/oauth/OAuth2UserInfo.java
  backend/src/main/java/com/tripfriend/global/security/CustomOauth2UserService.java
  backend/src/main/java/com/tripfriend/global/security/CustomUserDetailsService.java
  backend/src/main/java/com/tripfriend/global/security/PrincipalDetails.java
  backend/src/main/java/com/tripfriend/global/security/SecurityConfig.java
  backend/src/main/resources/application-secret.yml
  backend/src/main/resources/application.yml
  frontend/src/app/member/login/ClientPage.tsx
Labels: 🔥backend, ✨ feat, ☀️ frontend

#84 ✨feat(73): 프론트 관리자 상세 페이지
  backend/src/main/java/com/tripfriend/domain/blacklist/controller/BlacklistController.java
  backend/src/main/java/com/tripfriend/domain/member/member/controller/MemberController.java
  backend/src/main/java/com/tripfriend/domain/member/member/service/MemberService.java
  backend/src/main/java/com/tripfriend/domain/notice/controller/NoticeController.java
  backend/src/main/java/com/tripfriend/domain/notice/dao/Dao.java
  backend/src/main/java/com/tripfriend/domain/notice/entity/Notice.java
  frontend/package-lock.json
  frontend/package.json
Labels: 🔥backend, 🐛 bug

#87 Feat(73): 관리자 공지, 회원 프론트엔드
  backend/src/main/java/com/tripfriend/domain/notice/controller/NoticeController.java
  backend/src/main/java/com/tripfriend/domain/notice/dto/Dto.java
  frontend/src/api/blacklist.ts
  frontend/src/api/member.ts
  frontend/src/api/notice.ts
  frontend/src/app/admin/blacklist/page.tsx
  frontend/src/app/admin/notice/page.tsx
  frontend/src/app/admin/page.tsx
  frontend/src/app/admin/users/page.tsx
  frontend/src/lib/api.ts
Labels: ✨ feat, ☀️ frontend

#95 feat(90) : 여행일정 및 세부일정 등록
  backend/src/main/java/com/tripfriend/domain/place/place/controller/PlaceController.java
  backend/src/main/java/com/tripfriend/domain/place/place/repository/PlaceRepository.java
  backend/src/main/java/com/tripfriend/domain/place/place/service/PlaceService.java
  backend/src/main/java/com/tripfriend/domain/trip/information/dto/TripInformationReqDto.java
  backend/src/main/java/com/tripfriend/domain/trip/information/service/TripInformationService.java
  backend/src/main/java/com/tripfriend/domain/trip/schedule/dto/TripScheduleReqDto.java
  backend/src/main/java/com/tripfriend/domain/trip/schedule/service/TripScheduleService.java
  frontend/src/app/member/my/schedule/ClientPage.tsx
  frontend/src/app/member/my/schedule/[id]/ClientPage.tsx
  frontend/src/app/member/my/schedule/create/ClientPage.tsx
  frontend/src/app/member/my/schedule/create/page.tsx
Labels: ✨ feat, ☀️ frontend

#96 feat(68): MemberController RsData 적용 및 마이페이지 프론트 수정
  .DS_Store
  backend/src/main/java/com/tripfriend/domain/member/member/controller/MemberController.java
  backend/src/main/java/com/tripfriend/domain/member/member/dto/AuthResponseDto.java
  backend/src/main/java/com/tripfriend/domain/member/member/entity/Member.java
  backend/src/main/java/com/tripfriend/domain/member/member/entity/TravelStyle.java
  backend/src/main/java/com/tripfriend/domain/member/member/repository/MemberRepository.java
  backend/src/main/java/com/tripfriend/domain/member/member/service/AuthService.java
  backend/src/main/java/com/tripfriend/domain/member/member/service/MemberService.java
  backend/src/main/java/com/tripfriend/global/filter/DeletedMemberFilter.java
  backend/src/main/java/com/tripfriend/global/security/CustomOauth2UserService.java
  backend/src/main/java/com/tripfriend/global/security/SecurityConfig.java
  backend/src/main/java/com/tripfriend/global/util/JwtUtil.java
  frontend/src/app/member/login/ClientPage.tsx
  frontend/src/app/member/my/ClientPage.tsx
  frontend/src/app/page.tsx
  frontend/src/components/Header.tsx
Labels: 🔥backend, ✨ feat, ☀️ frontend, ♻️ refactor

#99 feat(97): 회원 탈퇴 후 활성화 프론트엔드 적용
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/member/login/ClientPage.tsx
  frontend/tsconfig.json
Labels: ✨ feat, ☀️ frontend

#101 feat(98): 사용자 인증 로직 수정
  backend/src/main/java/com/tripfriend/domain/review/controller/CommentController.java
  backend/src/main/java/com/tripfriend/domain/review/controller/ReviewController.java
  backend/src/main/java/com/tripfriend/domain/review/service/ReviewService.java
Labels: 🔥backend, ♻️ refactor

#108 refact(106) : 여행일정 & 여행지 API 문서 정리 및 여행 세부일정 필드 수정
  backend/src/main/java/com/tripfriend/domain/place/place/controller/PlaceController.java
  backend/src/main/java/com/tripfriend/domain/trip/information/controller/TripInformationController.java
  backend/src/main/java/com/tripfriend/domain/trip/information/dto/TripInformationReqDto.java
  backend/src/main/java/com/tripfriend/domain/trip/information/dto/TripInformationResDto.java
  backend/src/main/java/com/tripfriend/domain/trip/information/entity/TripInformation.java
  backend/src/main/java/com/tripfriend/domain/trip/information/service/TripInformationService.java
  backend/src/main/java/com/tripfriend/domain/trip/schedule/controller/TripScheduleController.java
  backend/src/main/java/com/tripfriend/domain/trip/schedule/service/TripScheduleService.java
  backend/src/main/java/com/tripfriend/global/init/BaseInitData.java
  frontend/src/app/member/my/schedule/[id]/ClientPage.tsx
  frontend/src/app/member/my/schedule/create/ClientPage.tsx
Labels: 🔧 chore, 📚 docs

#107 feat(88): Q&A 구현
  backend/src/main/java/com/tripfriend/domain/member/member/controller/MemberController.java
  backend/src/main/java/com/tripfriend/domain/member/member/dto/MemberDto.java
  backend/src/main/java/com/tripfriend/domain/member/member/entity/Member.java
  backend/src/main/java/com/tripfriend/domain/member/member/service/AuthService.java
  backend/src/main/java/com/tripfriend/domain/qna/controller/AnswerController.java
  backend/src/main/java/com/tripfriend/domain/qna/controller/QuestionController.java
  backend/src/main/java/com/tripfriend/domain/qna/dto/AnswerDto.java
  backend/src/main/java/com/tripfriend/domain/qna/dto/QuestionDto.java
  backend/src/main/java/com/tripfriend/domain/qna/service/AnswerService.java
  backend/src/main/java/com/tripfriend/domain/qna/service/QuestionService.java
  frontend/package-lock.json
  frontend/src/app/qna/[id]/AnswerSection.tsx
  frontend/src/app/qna/[id]/ClientPage.tsx
  frontend/src/app/qna/[id]/page.tsx
  frontend/src/app/qna/page.tsx
  frontend/src/app/qna/question/page.tsx
  frontend/src/components/Header.tsx
  frontend/src/lib/api/qna.ts
Labels: 🔥backend, ✨ feat, ☀️ frontend

#111 feat(104): jwt 토큰, 이메일 인증 Redis 적용
  backend/build.gradle
  backend/src/main/java/com/tripfriend/domain/member/member/controller/MemberController.java
  backend/src/main/java/com/tripfriend/domain/member/member/dto/AuthResponseDto.java
  backend/src/main/java/com/tripfriend/domain/member/member/service/AuthService.java
  backend/src/main/java/com/tripfriend/domain/member/member/service/MailService.java
  backend/src/main/java/com/tripfriend/domain/member/member/service/MemberService.java
  backend/src/main/java/com/tripfriend/global/config/RedisConfig.java
  backend/src/main/java/com/tripfriend/global/filter/JwtAuthenticationFilter.java
  backend/src/main/java/com/tripfriend/global/security/SecurityConfig.java
  backend/src/main/java/com/tripfriend/global/util/JwtUtil.java
  backend/src/main/resources/application-secret.yml
Labels: 🔥backend, ✨ feat

#115 feat(102): 리뷰 게시판 API 연동
  backend/src/main/java/com/tripfriend/domain/place/place/entity/Place.java
  backend/src/main/java/com/tripfriend/domain/review/controller/ReviewController.java
  backend/src/main/java/com/tripfriend/domain/review/dto/ReviewResponseDto.java
  backend/src/main/java/com/tripfriend/domain/review/entity/Review.java
  backend/src/main/java/com/tripfriend/domain/review/repository/ReviewRepository.java
  backend/src/main/java/com/tripfriend/domain/review/service/ReviewService.java
  backend/src/main/java/com/tripfriend/global/init/BaseInitData.java
  frontend/src/app/community/[id]/page.tsx
  frontend/src/app/community/components/edit-auth-check.tsx
  frontend/src/app/community/components/local-footer.tsx
  frontend/src/app/community/components/local-header.tsx
  frontend/src/app/community/components/write-auth-check.tsx
  frontend/src/app/community/edit/[id]/page.tsx
  frontend/src/app/community/layout.tsx
  frontend/src/app/community/page.tsx
  frontend/src/app/community/review-detail.tsx
  frontend/src/app/community/review-form.tsx
  frontend/src/app/community/review-list.tsx
  frontend/src/app/community/services/authService.ts
  frontend/src/app/community/services/commentService.ts
  frontend/src/app/community/services/placeService.ts
  frontend/src/app/community/services/reviewService.ts
  frontend/src/app/community/utils/api.ts
  frontend/src/app/community/write/page.tsx
Labels: 🔥backend, ✨ feat, ☀️ frontend

#120 feat(117): 리뷰게시판 오류 수정
  frontend/src/app/community/[id]/page.tsx
  frontend/src/app/community/components/local-footer.tsx
  frontend/src/app/community/components/local-header.tsx
  frontend/src/app/community/layout.tsx
  frontend/src/app/community/review-detail.tsx
  frontend/src/app/community/review-form.tsx
  frontend/src/app/community/review-list.tsx
  frontend/src/app/community/services/authService.ts
  frontend/src/app/community/services/placeService.ts
  frontend/src/app/community/services/reviewService.ts
  frontend/src/app/community/utils/api.ts
Labels: 🐛 bug, ☀️ frontend

#121 feat(119): 프론트엔드 vercel 배포
  backend/src/main/java/com/tripfriend/domain/qna/service/QuestionService.java
  frontend/src/app/admin/ClientPage.tsx
  frontend/src/app/admin/blacklist/ClientPage.tsx
  frontend/src/app/admin/blacklist/page.tsx
  frontend/src/app/admin/event/ClientPage.tsx
  frontend/src/app/admin/event/page.tsx
  frontend/src/app/admin/notice/ClientPage.tsx
  frontend/src/app/admin/notice/page.tsx
  frontend/src/app/admin/page.tsx
  frontend/src/app/admin/place/create/ClientPage.tsx
  frontend/src/app/admin/qna/ClientPage.tsx
  frontend/src/app/admin/qna/[id]/ClientPage.tsx
  frontend/src/app/admin/qna/[id]/page.tsx
  frontend/src/app/admin/qna/page.tsx
  frontend/src/app/admin/users/ClientPage.tsx
  frontend/src/app/admin/users/page.tsx
  frontend/src/app/community/[id]/page.tsx
  frontend/src/app/member/email-verify/page.tsx
  frontend/src/app/member/login/page.tsx
  frontend/src/app/member/my/page.tsx
  frontend/src/app/member/my/schedule/[id]/page.tsx
  frontend/src/app/member/my/schedule/create/page.tsx
  frontend/src/app/member/my/schedule/page.tsx
  frontend/src/app/member/my/schedule/update/[id]/page.tsx
  frontend/src/app/member/signup/page.tsx
  frontend/src/app/place/[id]/page.tsx
  frontend/src/app/place/page.tsx
  frontend/src/app/qna/[id]/page.tsx
  frontend/src/app/qna/question/ClientPage.tsx
  frontend/src/app/qna/question/page.tsx
  frontend/src/app/recruit/[id]/page.tsx
  frontend/src/app/recruit/create/page.tsx
  frontend/src/app/recruit/edit/[id]/page.tsx
  frontend/src/app/recruit/list/page.tsx
Labels: ✨ feat, ☀️ frontend

#126 feat(118): 동행 모집글 검색&정렬 / 인가 / 디테일 수정
  backend/src/main/java/com/tripfriend/domain/recruit/apply/service/ApplyService.java
  backend/src/main/java/com/tripfriend/domain/recruit/recruit/repository/RecruitRepositoryCustomImpl.java
  backend/src/main/java/com/tripfriend/domain/recruit/recruit/service/RecruitService.java
  backend/src/main/java/com/tripfriend/global/init/BaseInitData.java
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/recruit/[id]/ClientPage.tsx
  frontend/src/app/recruit/create/ClientPage.tsx
  frontend/src/app/recruit/edit/[id]/ClientPage.tsx
  frontend/src/app/recruit/list/ClientPage.tsx
  frontend/src/components/Header.tsx
  frontend/src/lib/api/place.ts
  frontend/src/lib/api/recruit.ts
Labels: ✨ feat, ☀️ frontend

#130 feat(122): RDS 연결
  backend/build.gradle
  backend/src/main/resources/application.yml
Labels: 🔥backend, ✨ feat

#132 feat(128): 사용자 프로필 이미지 설정
  backend/src/main/java/com/tripfriend/domain/review/dto/CommentResponseDto.java
  backend/src/main/java/com/tripfriend/domain/review/dto/ReviewResponseDto.java
  backend/src/main/java/com/tripfriend/domain/review/service/CommentService.java
  backend/src/main/java/com/tripfriend/domain/review/service/ReviewService.java
  frontend/src/app/community/review-detail.tsx
  frontend/src/app/community/review-form.tsx
  frontend/src/app/community/review-list.tsx
  frontend/src/app/community/services/commentService.ts
  frontend/src/app/community/services/imageService.ts
  frontend/src/app/community/services/reviewService.ts
  frontend/src/app/community/utils/profileImageUtil.ts
Labels: 🔥backend, ✨ feat, ☀️ frontend

#133 docs(125): operation 작성
  backend/src/main/java/com/tripfriend/domain/blacklist/controller/BlacklistController.java
  backend/src/main/java/com/tripfriend/domain/event/controller/EventController.java
  backend/src/main/java/com/tripfriend/domain/notice/controller/NoticeController.java
  backend/src/main/java/com/tripfriend/domain/qna/controller/AdminQnaController.java
  backend/src/main/java/com/tripfriend/domain/qna/controller/AnswerController.java
  backend/src/main/java/com/tripfriend/domain/qna/controller/QuestionController.java
  backend/src/main/resources/application-test.yml
  backend/src/test/java/com/tripfriend/domain/member/member/service/MemberServiceTest.java
Labels: 📚 docs
